* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$red-netflix: #e50914;

body {
  background-color: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 7px;
  // width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: $red-netflix;
  //     --tw-bg-opacity: 1;
  // --tw-border-opacity: 1;
  // border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  // border-width: 1px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(110, 110, 110, 0.257);
}